<html>
    <head>
        <meta charset="utf-8">
        <title>登入</title>
        <link rel="stylesheet", href="{{ url_for('static', filename='css/comment.css') }}",type="text/css">
    </head>
    <body>
        <div>
            <h1 class='title'>停停不累-停車查詢系統-評論</h1>
        </div>
        <ul>
            <li><a class="active" href="/">首頁</a></li>
            <li><a href="/road">路邊停車查詢</a></li>
            <li><a href="/parkinglot">停車場查詢</a></li>
            <li><a href="/favoritepage">常用停車場</a></li>
            <li  class="black_bar"></li>
            <li style="float: right;"><a >{{session["id"]}}</a></li>
            <li style="float: right;"><a href="/logout">登出</a></li>
            <li style="float: right;"><a href="/register" >新增帳號</a></li>
            <li style="float: right;"><a href="/resetpass" >更改密碼</a></li>
        </ul>
        <form method="post" action="/comment_parklot">
          <p>評論區: </p>
          <p><textarea class = 'com'
                name="comments"
                style="resize:none;width:600px;height:200px;"
          >請輸入你的感受</textarea></p>
          <p><input type = "submit" value="送出" class = 'yes'></p>
    </form>
    </body>
</html>